body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.skew-button {
    padding: 12px 24px;
    background: #1e272e;
    color: white;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.3s;
    user-select: none;
}

.skew-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* Initially off-screen to the left */
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white overlay */
    background-color: #ff3f34; /* The red color for the skew effect */
    transform: skewX(-30deg); /* Skewed effect */
    transition: all 0.5s;
}

.skew-button:hover:before {
    left: 100%; /* Moves to the right, creating the swipe effect */
}